
.icon-search:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */